.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 70px;
    
}

.container {
    background-color: #190505;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(8, 232, 135, 0.1);
    width: 35%;
    padding-bottom: 300px;
}
.container h1{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: 450;
    margin-top: 10px;
    animation: alternate-reverse 2s;
}

.form {
    display: flex;
    flex-direction: column;
    width: 200%;
    margin-top: 10px;
}

.form div {
    margin-bottom: 10px;
}

.labels {
    display: block;
    margin-bottom: 5px;
    color: rgb(238, 235, 216);
    font-size: larger;
    font-weight: 500;
}

.bmi-input {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    height:50px;
}
